* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Heading */

.heading {
  width: 70vw;
  margin: 30px;
}

.heading h1 {
  text-align: center;
  width: 100%;
  font-size: 35px;
}


/* Buttons */

.buttons {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-bottom: 30px;
}

.left-button, .right-button {
  display: flex;
  flex: 1;
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.right-button {
  display: flex;
  justify-content: flex-end;
}

#new {
  padding: 10px;
  font-size: 17px;
  width: 90%;
  border-radius: 6px;
  border: .5px solid black;
}

#rating-filter {
  width: 90%
}

#rating-filter select {
  padding: 10px;
  font-size: 17px;
  width: 100%;
  background-color: #EFEFEF;
  border-radius: 6px;
  border: .5px solid black;
}


/* List */

ul {
  border: 2px solid black;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.li-title {
  border: .5px solid black;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.bookmark-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.bookmark-display ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

.bookmark-display ul li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left-li-block {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  width: 100%;
  margin: 10px 0 10px 10px;
}

.right-li-block {
  justify-content: flex-end;
  margin: 10px 10px 10px 0;
}

.left-li-block p, .right-li-block p {
  font-size: 15px;
}

.expanded-title {
  background-color: #CFCFCF;
}

.expanded-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.expanded-buttons {
  margin: 10px;
  width: 80%
}

.expanded-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.expanded-buttons {
  display: flex;
  margin-bottom: 20px;
  width: 60%;
}

#edit, #delete {
  padding: 5px;
  width: 80%;
}

.expanded-top {
  display: flex;
  align-items: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.visit-container {
  display: flex;
  justify-content: flex-start;

}

.visit-button {
  padding: 7px;
  font-size: 14px;
  width: 90%;
}

.expanded-star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-container {
  display: flex;
  justify-content: center;
}

.expanded-top div {
  flex: 1;
}

.description {
  width: 100%;
  display: flex;
  justify-content: center;
}

.expanded-description {
  display: flex;
  justify-content: flex-start;
  width: 80%;
  margin-bottom: 20px;
}

.expanded-description p {
  text-align: justify;
}


/* Heading */

/* New Bookmark Form Page */
.new-bookmark-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new-bookmark-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.link-text-container label {
  margin-bottom: 10px;
  width: 70%;
}

.link-text-container input {
  margin-bottom: 20px;
  width: 70%;
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 70vw;
}

.star-input {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.star-input div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-container input, .description-container p, .description-container textarea {
  margin: 10px;
}

#link-title {
  width: 70%;
}

.description-container textarea {
  width: 90%;
}

.form-buttons {
  display: flex;
  width: 70vw;
  margin-top: 20px;
}

.form-buttons button {
  padding: 10px;
  font-size: 17px;
  width: 90%;
  border-radius: 6px;
  border: .5px solid black;
}

